# Mobile App Environment Variables
# When testing locally:
EXPO_PUBLIC_API_URL="http://localhost:3000"

# When deployed on Render / Production:
# EXPO_PUBLIC_API_URL="https://your-foodapp-api.onrender.com"
